.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  padding: 15px 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  padding: 10px;
  bottom: 0;
}

.navlinks {
  margin: 10px;
  text-decoration: none;
  color: black;
}

.navlinks.active {
  color: blueviolet;
  text-decoration: underline;
}
